<div class="newuser">
    <p style="text-align: center">
      新規登録
    </p>
</div>

<div class="memory">
   <p style="text-align: center"> 
        ユーザーネーム
       <input name="name">
   </p>
    <p style="text-align: center"> 
       email
       <input name="email">
    </p>
    <p style="text-align: center"> 
         技術のレベル(例：360は回せる！)
         <input name="level">
    </p>
    <p style="text-align: center"> 
         自由記入(求めるレベルや要望等)
         <input name="free">
         <input type="submit", value="登録">
    </p>
 </div>
