<!DOCTYPE html>

<% #ヘッダー %>
<div class="header">

<div class="header-logo">
  <a href="/">Snowfriends</a>
</div>

<div class="header-new">
    <a href="subscribe">新規登録</a>
    <a href="list">ユーザー</a>
</div>

</div>



<div class="new">
     <% #新規登録 %>
     <div class="newuser">
      <p style="text-align: center">
           新規登録
      </p>
     </div>

     <% #入力フォーム %>
     <form action="/users/create" method="create" class="memory">
      <div class="memory">
          <lavel for="name">ユーザーネーム</lavel>
          <input type="text" name="name" id="name" required>
      </div>
      <div class="memory">
          <lavel for="email">email</lavel>
           <input type="text" name="email" id="email" required>
      </div>
      <div class="memory">
           <lavel for="level">技術レベル</lavel>
           <input type="text" name="level" id="level" required>
      </div>
      <div class="memory">
           <lavel for="free">自由記入</lavel>
           <input type="text" name="free" id="free" required>
      </div>
      <div class="form-example">
           <input type="submit" value="登録">
      </div>
     </form>
</div>