<% #ヘッダー　%>
<div class="header">

  <div class="header-logo">
    <a href="/">Snowfriends</a>
  </div>

  <div class="header-new">
     <a href="subscribe">新規登録</a>
     <a href="list">ログイン</a>
  </div>
</div>



 <% #トップ画面 %>
 <div class="main">
    <div class="message">
        <p>一緒に滑る相手を探そう！</p>
    </div>
 </div>
