<!DOCTYPE html>
<html>
  <head>
    <title>Hitotume</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
     <div class="header-logo">
       <a href="/">Snowfriends</a>
     </div>
     <div class="new-logo">
        <p style="text-align: right">
         <a href="subscribe">新規登録</a>
         <a href="list">ユーザー</a>
        </p>
     </div>
    </header>
    <%= yield %>
  </body>
</html>
