// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/* topのsnowfriendsのとこ */
header{


    
}







.top_main{
    background-image: url(/IMG_1595.jpg);
    height: 800px;
    background-size:cover;
}



h1{
    color: brown;

}



