
/* header */
.header{
    background-color: #a5c0d3;
    height: 80px;
}

.header-logo a{
    font-size: 40px;
    letter-spacing: 2px;
    float: left;
    color:white;
}
  
.header-new a{
    font-size: 30px;
    letter-spacing: 2px;
    float: right;
    padding: 10px;
    color:white;
}



/* topのsnowfriendsのとこ */
.main{
    background-image: url(/ski.JPG);
    height: 800px;
    background-size: cover;
}


.message p{
    color: brown;
    font-size: 50px;
    margin: 0px;
}



/* 登録画面 */
.new {
  background-color: rgb(88, 207, 228);
}


.newuser{
  color:white;
  font-size:40px;
  
}
