// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* header */
header{
    color: black;
}



/* topのsnowfriendsのとこ */
.top_main{
    background-image: url(/ski.JPG);
    height: 800px;
    background-size:cover;
    
}



h2{
    color: brown;
    font-size: 50px;
}

p{
    color: black;
    font-size: 40px;
}



